.popup-callback-thank {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	
	align-items: center;
}

.popup-callback-thank--show {
	display: flex;
	
	-webkit-animation: fade-scale 0.4s;
	-moz-animation: fade-scale 0.4s;
	animation: fade-scale 0.4s;
}

.popup-callback-thank__close {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: 101;
	width: 44px;
	height: 44px;
	padding: 0;
	
	font-family: Arial, Baskerville, monospace;
	font-style: normal;
	font-size: 28px;
	line-height: 44px;
	text-decoration: none;
	text-align: center;

	background: transparent;

	opacity: 0.5;
	overflow: visible;
	cursor: pointer;
	border: 0;
	outline: none;
	box-shadow: none;

	&:hover {
		opacity: 1;
	}
}

.popup-callback-thank__wrapper {
	@include container-fluid();

	position: relative;
	width: auto;
	max-width: 320px;
	margin: 0 auto;
	padding: 0;

	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 15px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	overflow: auto;
}

.popup-callback-thank__message {
	display: block;
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 0 20px;
	text-align: center;
	font-size: 24px;
	color: #000;
}

.popup-callback-thank__btn {
	min-width: 20px;
	width: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

@media ($tablet-widths) {
	.popup-callback-thank__wrapper {
		max-width: 320px;
	}
}

@media ($desktop-widths) {
	.popup-callback-thank__wrapper {
		max-width: 360px;
	}
}